In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved/created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bethel,41.3712,-73.4140,77.36,80,0,7.02,US,2022-08-30 01:33:06
1,1,Nanortalik,60.1432,-45.2371,39.74,89,100,6.71,GL,2022-08-30 01:33:07
2,2,Kavaratti,10.5669,72.6420,80.46,80,100,18.54,IN,2022-08-30 01:33:07
3,3,Qaqortoq,60.7167,-46.0333,39.65,88,97,4.74,GL,2022-08-30 01:33:08
4,4,Oppdal,62.5943,9.6912,40.01,92,81,1.86,NO,2022-08-30 01:33:08

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
#HEATMAP FOR MAX TEMP

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.

# an array of length equal to the locations array length
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

# Recall : Recall that you use the loc[] method on the current DataFrame to create a new DataFrame from a current DataFrame. 
# Inside the brackets, add the conditional filter.

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bethel,41.3712,-73.4140,77.36,80,0,7.02,US,2022-08-30 01:33:06
2,2,Kavaratti,10.5669,72.6420,80.46,80,100,18.54,IN,2022-08-30 01:33:07
5,5,Ambon,-3.6954,128.1814,82.54,83,75,3.44,ID,2022-08-30 01:33:09
15,15,Atuona,-9.8000,-139.0333,76.91,74,3,21.05,PF,2022-08-30 01:33:13
19,19,Kawalu,-7.3817,108.2082,77.04,75,100,3.60,ID,2022-08-30 01:33:14
24,24,Avarua,-21.2078,-159.7750,78.85,78,71,9.22,CK,2022-08-30 01:33:16
28,28,Bandarbeyla,9.4942,50.8122,75.47,82,15,21.50,SO,2022-08-30 01:33:18
29,29,Riyadh,24.6877,46.7219,80.74,16,0,6.69,SA,2022-08-30 01:29:08
30,30,Isangel,-19.5500,169.2667,75.74,65,62,15.79,VU,2022-08-30 01:33:18
32,32,Touros,-5.1989,-35.4608,75.67,80,43,16.17,BR,2022-08-30 01:33:19

In [11]:
#Are there any null values?
preferred_cities_df.count()

City_ID       210
City          210
Lat           210
Lng           210
Max Temp      210
Humidity      210
Cloudiness    210
Wind Speed    210
Country       210
Date          210
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0        Bethel      US     77.36  41.3712  -73.4140
2     Kavaratti      IN     80.46  10.5669   72.6420
5         Ambon      ID     82.54  -3.6954  128.1814
15       Atuona      PF     76.91  -9.8000 -139.0333
19       Kawalu      ID     77.04  -7.3817  108.2082
24       Avarua      CK     78.85 -21.2078 -159.7750
28  Bandarbeyla      SO     75.47   9.4942   50.8122
29       Riyadh      SA     80.74  24.6877   46.7219
30      Isangel      VU     75.74 -19.5500  169.2667
32       Touros      BR     75.67  -5.1989  -35.4608

## Nearby Search using Google API

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bethel,US,77.36,41.3712,-73.4140,Courtyard by Marriott Danbury
2,Kavaratti,IN,80.46,10.5669,72.6420,Green leaf
5,Ambon,ID,82.54,-3.6954,128.1814,Swiss-Belhotel Ambon
15,Atuona,PF,76.91,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
19,Kawalu,ID,77.04,-7.3817,108.2082,West Jontor

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store to the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Practice using fixed latitude and longitude

In [ ]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

In [ ]:
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

nearby_response = requests.get(url,params=params).json()

In [ ]:
nearby_response

In [ ]:
#To get all the hotels in the results dictionary we can get the length of this dictionary by using, 
#len(hotels["results"])

len(nearby_response["results"])

In [ ]:
nearby_response['results'][0]['name']